* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}

button {
    all: unset;
    cursor: pointer;
}


button:disabled {
    cursor: not-allowed;
}

.primary-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    border: none;
    text-decoration: none;
    min-width: 80px;
    justify-content: center;
}

.primary-button:hover:not(:disabled) {
    background-color: #2084ef;
}

.primary-button mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.primary-button:disabled {
    background-color: #c6c6c6;
    cursor: not-allowed;
}

.no-radius-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 0;
    padding: 8px 16px;
}

.mat-horizontal-stepper-header,
.mat-vertical-stepper-header {
    pointer-events: none;
}

.mat-mdc-snack-bar-container {
    background-color: #4caf50 !important;
    color: white !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: #4caf50 !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
    color: white !important;
}

.mat-mdc-snack-bar-container .mat-mdc-button {
    color: white !important;
}

.success-toast {
    background-color: #4caf50 !important;
    color: white !important;
}